* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

.header {
    font-size: 5em;
    width: 500px;
    padding: 10px;
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
}

.container {
    background-color: black;
    min-height: 100vh;
}

.color-container {
    display: flex;
    justify-content: center;
    padding-top: 4em;
    padding-bottom: 4em;
}

.colors {
    display: inline-flex;
    height: 20em;
    width: 15em;
}

.palette-form {
    align-items: center;
}

.generate-container {
    display: flex;
    justify-content: center;
}

.generate-btn{
    background:#1AAB8A;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-bottom: 1em;
  }

  .generate-btn:hover{
    background:#fff;
    color:#1AAB8A;
  }

  .generate-btn:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #1AAB8A;
    transition:400ms ease all;
  }

  .generate-btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }

  .generate-btn:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }