* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
}

hr {
    width: 90%;
    text-align: center; margin: 0 auto;
    border-top: 1px solid cyan;
}

.main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'left right';
}

.left {
    grid-area: left;
}

.right {
    grid-area: right;
    padding-top: 4em;
}

.head-container {
    display: flex;
    justify-content: center;
}

.header {
    font-size: 5em;
    padding: 10px;
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
}

.container {
    background-color: black;
    min-height: 100vh;
}

.color-container {
    display: flex;
    justify-content: center;
    padding-top: 4em;
    padding-bottom: 4em;
}

.saved-project-list {
    color: white;
    list-style-type: none;
}

.color {
    height: 20px;
    width: 20px;
    display: inline-block;
}

.colors {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 20em;
    width: 7em;
    transition: all .35s ease-out;
}

.colors:hover {
    width: 9em;
    transition: all .35s ease-in-out;
    cursor: pointer;
}

.palette-form {
    align-items: center;
}

.generate-container {
    display: flex;
    justify-content: center;
}

.generate-btn{
    background: transparent;
    color:white;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    margin-bottom: 1em;
  }

  .generate-btn:hover{
    background:#fff;
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  .generate-btn:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);    
    transition:400ms ease all;
  }

  .generate-btn:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }

  .generate-btn:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  .fas {
    font-size: 1.5em;
  }